:root{
    --dark-color: #3074f0;
    --primary-color: #f7c9d2;
    --light-color: #f5f5f5;
    --sucess-color: #a7acb3;
}
.Products_main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.Product_price{
    font-size: 1.3rem;
    font-weight: 600;
}
.Product_name{
    font-size: 1.2rem;
}
.card_head{
    margin-top: 10px;
    background: var(--light-color);
}
.Product_h2{
    font-weight: bold;
    color: gray;
}

@media (max-width: 768px) {
    .Products_main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}